@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1A1A1A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand: #1a1a1a;       
  --color-brand-dark: #1a1a1a;  
  --color-brand-light: #ededed; 
  --color-accent: #39597d;    
  
  --color-foreground: var(--color-brand);

  }

@media (prefers-color-scheme: dark) {
  :root {
    --background: #D3D3D3;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);


}
